<!-- <div layout="row" layout-align="end start">
    <h1>GameSole</h1>
</div> -->

<!-- logo alignment -->
<!-- <md-button>
   <img class="png-icon" src="/Users/jesse/Desktop/GameSole Logo-1 (dragged).tiff" style="width: 24px; height: 24px;">
</md-button> -->

<!-- navbar -->
<div flex layout="column" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button type="button" ng-click="Showme()" ng-href="/#/prog">Search</md-button>
        <form class="search-box">
          <input class="search-box-input" type="text" required="required" ng-model="search" ng-model-options="{ debounce: 500 }">
          <button type="reset" class="delete"></button>
        </form>
      </div>
    </md-toolbar>

    <div flex layout="column">
      <!-- Example of what would be inside a view template -->
        <p>Welcome to the GameSole</p>
  <p>Common Results:</p>

  <ul>
    <li ng-repeat="item in gameData">
      <a ng-href=`https://ahmedakhan-game-review-information-v1.p.mashape.com/api/v1/search?game_name=` id="{{ $index + 1 }}" 
         ng-click="update(game)">{{item}} 
      </a>
    </li>
  </ul>
<!-- </div> -->
<!-- <div> -->
  <p>Search Results:</p>
  <ul>
    <li ng-repeat="item in searchGameData">
      <a ng-href="(`https://ahmedakhan-game-review-information-v1.p.mashape.com/api/v1/{{search}}`)" id="{{ $index + 1 }}" ng-click="update(game)">
      {{item}}  
      </a>
    </li>
  </ul>
<!-- </div>
 -->
<div layout="row" layout-align="end start">
<a href="http://localhost:8080/#/"><md-button type="submit" class="log2">Logout</md-button></a>
</div>
      <div flex layout="column" class="md-padding content">
<!-- <div> -->
      </div><!-- end view -->
    </div>
</div>

<div id="main-info" ng-include="partials/search.html"></div>

<div id="related-results" ng-include="partials/search.html"></div>
