<!-- navbar -->
<div role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button type="button" ng-click="Showme(search)" class="sendBtn">Search</md-button>
        <form class="search-box">
          <input class="search-box-input" type="text" required="required" ng-model="search" ng-model-options="{ debounce: 500 }">
          <button type="reset" class="delete"></button>
        </form>
      </div>
    </md-toolbar>
</div>

<div layout="row" layout-align="end start" class="backGroundAgain">
<a href="http://localhost:8080/#/"><md-button type="submit" class="log2">Logout</md-button></a>
</div>

<div layout="row" layout-align="end start" class="homeTitle">
    <h1>GameSole</h1>
</div>

<md-nav-bar atmd-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-href="/#/" name="page1" class="red">Login</md-nav-item>
  <md-nav-item md-nav-href="/#/search" name="page2" class="bingoBop">Search</md-nav-item>
  <md-nav-item md-nav-href="/#/home" name="page3" class="bingoBop">Home</md-nav-item>
</md-nav-bar>

  <!-- <p>New Releases:</p>

  <ul class="backGroundPlz">
    <div ng-repeat="item in gameData">
    <md-button class="sendBtn" ng-click="Showme(item)">{{item}}</md-button>
    </div> -->
    <!-- <li ng-repeat="item in gameData"> -->
      <!-- <a ng-href="https://ahmedakhan-game-review-information-v1.p.mashape.com/api/v1/search?game_name=" id="{{ $index + 1 }}" 
         ng-click="update(game)" class="sendBtn"> -->
      <!-- </a> -->
    <!-- </li> -->
  <p>Searched Results:</p>
  <div style="width: 80em; height:40em; border:1px solid grey; overflow-x:scroll">
<div layout="row" layout-align="space-around start" class="cardBG">
  <ul ng-repeat="item in searchGameData" id="{{ $index + 1 }}">
  <md-card class="md-card">
    <img ng-src="{{item.image.small_url}}" class="md-card-image" alt="image caption">
    <md-card-title>
      <md-card-title-text>
        <span class="md-result">{{item.name}}</span>
        <span class="md-result2">{{item.platforms[0].name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      
     
    </md-card-actions>
    <md-card-content>
      <md-input-container>

        <label>Comments</label>
        <input ng-model="message" name="comment" disabled="">
      <div ng-messages="message.comment.$error">
    </div>
        <md-button ng-click="" ng-message="required">Add to Home Before Commenting!</md-button>
      <md-button ng-click="sendCard(item)" ng-href="/#/home"  class="save">
      <md-tooltip md-direction="right">Add to Home</md-tooltip>
      <md-icon class="material-icons">add_circle_outline</md-icon>
      </md-button>
      <md-button ng-click="" ng-href="">
      <md-tooltip md-direction="right">Link</md-tooltip>
      <md-icon class="addLink">link</md-icon>
      </md-button>
      </md-input-container>
    </md-card-content>
  </md-card>
   </ul> 
</div>
</div>