<!-- <div layout="row" layout-align="end start">
    <h1>GameSole</h1>
</div> -->

<!-- logo alignment -->
<!-- <md-button>
   <img class="png-icon" src="/Users/jesse/Desktop/GameSole Logo-1 (dragged).tiff" style="width: 24px; height: 24px;">
</md-button> -->

<!-- navbar -->
<div ng-controller="SearchCtrl" flex layout="column" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button type="button" ng-click="Showme()">Search</md-button>
        <form class="search-box">
          <input class="search-box-input" type="text" required="required" ng-model="search" ng-model-options="{ debounce: 500 }">
          <button type="reset" class="delete"></button>
        </form>
      </div>
    </md-toolbar>

    <div flex layout="column">
      <!-- Example of what would be inside a view template -->
      <div flex layout="column" class="md-padding content">
        <p>Welcome to the GameSole</p>
      </div><!-- end view -->
    </div>
</div>

<div id="main-info" ng-include="partials/search.html"></div>

<div id="related-results" ng-include="partials/search.html"></div>

<!-- <ul ng-repeat="(key, item) in gameData">
    <li>{{gameData}}</li>
     <li>{{item.data}}</li>
     <li>{{item.result}}</li>
</ul>  -->



<div>
  <p>Related Results:</p>

  <ul class="rel-results">
    <li ng-repeat="item in gameData">
      <a href="/#/home" id="{{ $index + 1 }}" 
         ng-click="update(game)">{{item}} {{search}}
      </a>
    </li>
  </ul>
</div>

<div layout="row" layout-align="end start">
<a href="http://localhost:8080/#/"><md-button type="submit" class="log2">Logout</md-button></a>
</div>